{% extends  'challenge/base.html' %}

{% block body %}
<section class="w-full flex flex-col gap-7 items-center justify-center">
    <h3 class="font-display px-5 sm:p-0 text-center text-3xl text-purple-500">مسابقه برنامه نویسی <span class="text-purple-600"> کد چلنج</span></h3>
     <!-- Form -->
    <form class="bg-[#242A38] *:text-center p-3 h-auto pb-10 rounded-2xl w-[90%] lg:w-[40%] xl:w-[25%]" method="post">
        {% csrf_token %}
            
    {% if form.non_field_errors %}
        <div class="bg-red-600 text-white p-3 rounded">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
       <h4 class="mt-4 text-[1.3rem] text-white font-bold" >ورود به کد چلنج</h4>
        <div class="flex mt-10 gap-5 flex-col">
         <div class="input_parent">
           <input class="input_class" type="text" name="{{form.username.name }}" placeholder="نام کاربری">
            <div class="absolute left-2 top-3">
             <svg class="fill-gray-500" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.71,12.71a6,6,0,1,0-7.42,0,10,10,0,0,0-6.22,8.18,1,1,0,0,0,2,.22,8,8,0,0,1,15.9,0,1,1,0,0,0,1,.89h.11a1,1,0,0,0,.88-1.1A10,10,0,0,0,15.71,12.71ZM12,12a4,4,0,1,1,4-4A4,4,0,0,1,12,12Z"/></svg>
           </div>
        </div>
       <div class="input_parent">
         <input class="input_class" type="password" name="{{form.password.name }}" placeholder="رمز عبور">
         <div class="absolute left-2 top-3">
           <svg class="fill-gray-500" width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17,9V7A5,5,0,0,0,7,7V9a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V12A3,3,0,0,0,17,9ZM9,7a3,3,0,0,1,6,0V9H9Zm9,12a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z"/></svg>
         </div>
       </div>
       <div class="w-[90%] mx-auto flex items-center justify-center">
         <button class="button">ورود</button>
       </div>
       </div>
    </form>
    <!-- Form -->
 </section>
 <!-- Wrapper -->
 <h4 class="mt-4 text-purple-500">برگزار شده توسط دانشگاه پیام نور سبزوار</h4>
 <!-- Blured circles -->
 <div class="circles top-[30rem] md:top-[20rem] right-5 bg-red-500"></div>
 <div class="circles top-10 left-10 bg-blue-500"></div>
{% endblock %}
